.formProduct {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  text-align: start;
  position: relative;
  h1 {
    text-align: center;
    margin-top: 22px;
  }
  .form {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    text-align: start;

    .img {
      position: relative;
      width: 70px;
      height: 70px;
      img {
        width: 100%;
      }
      .close {
        position: absolute;
        right: -12px;
        top: -12px;
        font-size: 25px;
        color: red;
        cursor: pointer;
        background-color: #fff;
        border-radius: 50%;
      }
    }

    .inputFile {
      input {
        display: none;
      }
      label {
        padding: 10px 20px;
        font-size: 16px;
        color: #fff;
        background-color: #007bff;
        border-radius: 15px;
        cursor: pointer;
        text-align: center;
        width: 100%;
        display: block;
        margin: 20px 0;
      }
    }
    .block {
      width: 100%;
      label {
        display: block;
        font-size: 19px;
        padding: 13px 0 4px;
      }
      input,
      textarea {
        padding: 10px;
        border: 1px solid #adadad;
        border-radius: 10px;
        font-size: 16px;
        width: 100%;
      }
      textarea {
        resize: none;
      }
    }
    .btnSubmit {
      padding: 15px;
      font-size: 16px;
      border-radius: 10px;
      background-color: aquamarine;
      margin-top: 15px;
      margin-bottom: 50px;
      cursor: pointer;
    }
    .error {
      color: red;
    }
  }
}
